<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Welcome! As someone with many interests, I enjoy coding, playing classical and jazz piano, photography, train martial arts, tennis, snowboarding, and skiing.
      <br />
      <br />
      Professionally, I'm a mechanical and aerospace engineer who made the transition to systems and software engineering.
      During my jobs as a flight loads engineer and structures engineer, I taught myself and applied programming and data science to my work.
      Starting with tools development to automate tasks and analysis at work, I quickly was able to lead development and create methodologies for high priority projects.
      I also concurrently worked as a simulation developer towards the end of my role as a structures engineer.
      I realized my favorite part of the job was creating tools that made people's work faster and easier with more functionality.
      <br />
      <br />
      Currently, I work on a backend cloud development effort.
      Having worked in the aerospace industry for over 5 years at a few of the major companies, I'm glad to have worked on exciting and challenging problems.
      Often limited by the environment and tools available, it is rewarding to see what can be achieved with so many constraints.
      <br />
      <br />
      Outside of work, I have my own <a href="{{ site.nav.main.projects }}">projects</a> that focus on computer vision and music AI.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
